/* SMALL */

.booking {
  background-color: white;
  display: block;
}

.booking__app-wrap {
  width: 90%;
  z-index: 3;
  top: -80px;
  position: relative;
  margin: 0 auto;
  background-color: white;
  -webkit-box-shadow: 0.2px 0.2px 19px -5.9px grey;
  box-shadow: 0.2px 0.2px 19px -5.9px grey;
}

@media only screen and (max-width: 767px) {
  .booking__app-wrap {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .booking {
    width: 100%;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 90%;
    margin: 0 auto;
    max-width: 1365px;
  }
}

@media screen and (min-width: 768px) {
  .booking__app-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-shadow: 0.2px 0.2px 19px -5.9px grey;
    box-shadow: 0.2px 0.2px 19px -5.9px grey;
    width: 100%;
  }
}

@media screen and (min-width: 1070px) {
  .booking__app-wrap {
    width: 68.5%;
  }
}

@media only screen and (min-width: 1188px) {
  .booking__app-wrap {
    width: 75%;
  }
}

.booking__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  min-height: 55px;
  /* justify-content: horizontal; */
}

@media screen and (min-width: 768px) {
  .booking__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style-type: none;
    border-right: 0.9px solid rgba(61, 58, 58, 0.3);
    min-width: 100px;
    margin: 0;
  }
  .booking__tab-link {
    height: 73px;
    text-align: center;
    padding-top: 25px;
    border-bottom: 0.9px solid rgba(61, 58, 58, 0.3);
    height: 73px;
    text-align: center;
    padding-top: 25px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    border-bottom: 0.9px solid rgba(61, 58, 58, 0.3);
    color: gray;
  }
  .booking__tab-link:hover {
    color: black;
  }
}

@media screen and (min-width: 1070px) {
  .booking__tab-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.booking__tab-link {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .booking-form__selector, .dining-form__selector, .show-form__selector {
    list-style-type: none;
    width: 11%;
    height: 100%;
    min-width: 100px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1070px) {
  .booking-form__selector, .dining-form__selector, .show-form__selector {
    list-style-type: none;
    width: 14%;
    height: 100%;
    min-width: 99px;
    margin: 0 auto;
  }
  .booking-form__selector-1, .dining-form__selector-1, .show-form__selector-1 {
    margin-left: 10px;
  }
}

.booking__btn-container {
  display: block;
  width: 33.33333%;
}

@media only screen and (min-width: 768px) {
  .booking__btn-container {
    height: 100%;
    width: 100%;
  }
}

.booking__btn {
  display: block;
  width: 33.33333%;
}

@media only screen and (min-width: 768px) {
  .booking__btn {
    height: 100%;
    width: 100%;
  }
}

.booking__button-tab {
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

.booking__button-tab:hover {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .booking__button-tab {
    border-left: 0.9px solid rgba(61, 58, 58, 0.3);
  }
}

.booking__button-tab--center {
  border-left: 0.9px solid rgba(61, 58, 58, 0.3);
  border-right: 0.9px solid rgba(61, 58, 58, 0.3);
}

@media only screen and (min-width: 768px) {
  .booking__button-tab--center {
    border-right: none;
    border-bottom: 0.9px solid rgba(61, 58, 58, 0.3);
    border-top: 0.9px solid rgba(61, 58, 58, 0.3);
  }
}

.booking-form, .show-form, .dining-form {
  margin: 0 auto;
}

.booking-form__title-wrap, .dining-form__title-wrap, .show-form__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 12px;
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .booking-form__title-wrap, .dining-form__title-wrap, .show-form__title-wrap {
    margin-top: 0;
    justify-content: space-around;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .check__title {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }
}

.booking-form__title, .dining-form__title, .show-form__title {
  width: 112px;
  text-align: center;
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .booking-form__title, .dining-form__title, .show-form__title {
    padding-top: 25px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .booking-form__title, .dining-form__title, .show-form__title {
    padding-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .dining-form__title--right, .show-form__title--right {
    margin-left: 7px;
  }
}

@media only screen and (min-width: 768px) {
  .booking-form__title--right {
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) {
  .booking-form__title--right, .dining-form__title--right, .show-form__title--right {
    padding-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .booking-form__wrap-1, .dining-form__wrap-1, .show-form__wrap-1 {
    width: 37%;
  }
}

@media only screen and (min-width: 768px) {
  .booking__app-wrap:after {
    right: 51.7%;
    background-color: #c6dde1;
    color: #c6dde1;
    height: 122px;
    width: 1px;
    content: '';
    top: 50px;
    position: absolute;
  }
}

@media only screen and (min-width: 1070px) {
  .booking__app-wrap:after {
    right: 53.8%;
  }
}

@media only screen and (min-width: 1110px) {
  .booking__app-wrap:after {
    right: 51.2%;
  }
}

.datepicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 25px;
  border-bottom: solid 1px #c6dde1;
}

@media only screen and (min-width: 768px) {
  .datepicker {
    width: 100%;
    justify-content: space-around;
    border-bottom: none;
  }
}

@media only screen and (min-width: 768px) {
  .booking-form__top-wrap, .dining-form__top-wrap, .show-form__top-wrap, .datepicker {
    padding-bottom: 0;
    justify-content: space-around;
  }
}

.show-form__wrap, .dining-form__wrap, .booking-form__wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
  display: block;
}

@media only screen and (min-width: 768px) {
  .booking-form__wrap, .show-form__wrap, .dining-form__wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 37px;
    justify-content: center;
  }
}

@media only screen and (min-width: 1070px) {
  .booking-form__wrap, .show-form__wrap, .dining-form__wrap {
    justify-content: left;
    padding-left: 3px;
  }
}

@media only screen and (min-width: 1110px) {
  .booking-form__wrap, .show-form__wrap, .dining-form__wrap {
    justify-content: center;
    padding-left: 0px;
  }
}

.booking-form__top-item, .dining-form__top-item, .show-form__top-item, .datepicker__wrap {
  border: solid 1px black;
  height: 102px;
  width: 112px;
}

@media only screen and (min-width: 768px) {
  .booking-form__top-item, .dining-form__top-item, .show-form__top-item, .datepicker__wrap {
    margin-right: 10px;
    width: 100px;
    border: none;
  }
}

@media only screen and (min-width: 768px) {
  .check__flexbox--item {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .booking-form__wrap-2, .dining-form__wrap-2, .show-form__wrap-2 {
    position: relative;
    padding-top: 0;
    margin-top: 0;
    width: 37%;
  }
}

.booking-form__title-wrap--2, .dining-form__title-wrap--2, .show-form__title-wrap--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 12px;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .booking-form__title-wrap--2, .dining-form__title-wrap--2, .show-form__title-wrap--2 {
    justify-content: space-around;
    margin-top: 0;
    width: 100%;
  }
}

.booking-form__title--2, .dining-form__title--2, .show-form__title--2 {
  width: 112px;
  text-align: center;
  font-style: italic;
}

.room__flexbox, .datepicker-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@media only screen and (min-width: 768px) {
  .room__flexbox, .datepicker-2 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    width: 100%;
  }
}

@media only screen and (min-width: 1069px) {
  .room__flexbox, .datepicker-2 {
    justify-content: space-around;
    width: 100%;
  }
}

.room__flexbox--wrapper {
  width: 88%;
  margin: 0 auto;
  position: relative;
  display: block;
}

.datepicker__wrap {
  border: solid 1px black;
  height: 102px;
  width: 112px;
}

@media only screen and (min-width: 768px) {
  .datepicker__wrap {
    margin-right: 10px;
    border: none;
    width: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .booking-form, .dining-form, .show-form {
    width: 100%;
  }
}

.booking__button-tab--active {
  opacity: 1;
  border-bottom: solid 3px #53cdeb;
  background-color: #eef1f2;
  color: black !important;
}

@media only screen and (min-width: 768px) {
  .booking__button-tab--active {
    border-left: solid 3px #53cdeb;
    border-bottom: none;
  }
}

/* DATEPICKER */

#datepicker, #datepicker-1, #datepicker-2, #datepicker-3 {
  width: 100%;
  font-size: 44px;
  background: none;
  border: none;
  position: relative;
  text-align: center;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 #e12f37;
  -webkit-transform: translate(-1%);
  transform: translate(-1%);
}

#datepicker::-webkit-input-placeholder, #datepicker-1::-webkit-input-placeholder, #datepicker-2::-webkit-input-placeholder, #datepicker-3::-webkit-input-placeholder {
  color: #e12f37;
  opacity: 1;
}

#datepicker:-ms-input-placeholder, #datepicker-1:-ms-input-placeholder, #datepicker-2:-ms-input-placeholder, #datepicker-3:-ms-input-placeholder {
  color: #e12f37;
  opacity: 1;
}

#datepicker::-ms-input-placeholder, #datepicker-1::-ms-input-placeholder, #datepicker-2::-ms-input-placeholder, #datepicker-3::-ms-input-placeholder {
  color: #e12f37;
  opacity: 1;
}

#datepicker::placeholder, #datepicker-1::placeholder, #datepicker-2::placeholder, #datepicker-3::placeholder {
  color: #e12f37;
  opacity: 1;
}

#datepicker:focus, #datepicker-1:focus, #datepicker-2:focus, #datepicker-3:focus {
  outline: none;
}

.datepicker__date {
  max-width: 100%;
}

.datepicker-month, .datepicker-month-1, .datepicker-month-2, .datepicker-month-3 {
  font-size: 15px;
  text-align: center;
  width: 100%;
  padding-top: 11px;
  text-transform: uppercase;
  padding-bottom: 2px;
  border: none;
  font-weight: bold;
  cursor: default;
  color: transparent;
  text-shadow: 0 0 0 black;
  font-family: 'Lato', sans-serif;
}

.datepicker-month::-webkit-input-placeholder, .datepicker-month-1::-webkit-input-placeholder, .datepicker-month-2::-webkit-input-placeholder, .datepicker-month-3::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.datepicker-month:-ms-input-placeholder, .datepicker-month-1:-ms-input-placeholder, .datepicker-month-2:-ms-input-placeholder, .datepicker-month-3:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.datepicker-month::-ms-input-placeholder, .datepicker-month-1::-ms-input-placeholder, .datepicker-month-2::-ms-input-placeholder, .datepicker-month-3::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.datepicker-month::placeholder, .datepicker-month-1::placeholder, .datepicker-month-2::placeholder, .datepicker-month-3::placeholder {
  color: black;
  opacity: 1;
}

.datepicker-month:focus, .datepicker-month-1:focus, .datepicker-month-2:focus, .datepicker-month-3:focus {
  outline: none;
}

.datepicker__select, .select {
  max-width: 100%;
  height: 100%;
}

.select__word, .select__word-show, .datepicker__word-select--dining, .datepicker__select-show {
  font-size: 100%;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 black;
  background: transparent;
  -webkit-appearance: none;
}

.select__word::-webkit-input-placeholder, .select__word-show::-webkit-input-placeholder, .datepicker__word-select--dining::-webkit-input-placeholder, .datepicker__select-show::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.select__word:-ms-input-placeholder, .select__word-show:-ms-input-placeholder, .datepicker__word-select--dining:-ms-input-placeholder, .datepicker__select-show:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.select__word::-ms-input-placeholder, .select__word-show::-ms-input-placeholder, .datepicker__word-select--dining::-ms-input-placeholder, .datepicker__select-show::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.select__word::placeholder, .select__word-show::placeholder, .datepicker__word-select--dining::placeholder, .datepicker__select-show::placeholder {
  color: black;
  opacity: 1;
}

.select__word:focus, .select__word-show:focus, .datepicker__word-select--dining:focus, .datepicker__select-show:focus {
  outline: none;
}

.select__time, .datepicker__time-select-show, .select__time-dining, .datepicker__time-select-dining {
  font-size: 35px;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 black;
  background: transparent;
  -webkit-appearance: none;
  text-align-last: center;
}

.select__time::-webkit-input-placeholder, .datepicker__time-select-show::-webkit-input-placeholder, .select__time-dining::-webkit-input-placeholder, .datepicker__time-select-dining::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.select__time:-ms-input-placeholder, .datepicker__time-select-show:-ms-input-placeholder, .select__time-dining:-ms-input-placeholder, .datepicker__time-select-dining:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.select__time::-ms-input-placeholder, .datepicker__time-select-show::-ms-input-placeholder, .select__time-dining::-ms-input-placeholder, .datepicker__time-select-dining::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.select__time::placeholder, .datepicker__time-select-show::placeholder, .select__time-dining::placeholder, .datepicker__time-select-dining::placeholder {
  color: black;
  opacity: 1;
}

.select__time:focus, .datepicker__time-select-show:focus, .select__time-dining:focus, .datepicker__time-select-dining:focus {
  outline: none;
}

.select__numbers, .datepicker__number, .select__numbers-guest-dining, .select__numbers-guest-dining-sm, .select__numbers-guest-show, .datepicker__number-show {
  font-size: 45px;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 black;
  background: transparent;
}

.select__numbers::-webkit-input-placeholder, .datepicker__number::-webkit-input-placeholder, .select__numbers-guest-dining::-webkit-input-placeholder, .select__numbers-guest-dining-sm::-webkit-input-placeholder, .select__numbers-guest-show::-webkit-input-placeholder, .datepicker__number-show::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.select__numbers:-ms-input-placeholder, .datepicker__number:-ms-input-placeholder, .select__numbers-guest-dining:-ms-input-placeholder, .select__numbers-guest-dining-sm:-ms-input-placeholder, .select__numbers-guest-show:-ms-input-placeholder, .datepicker__number-show:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.select__numbers::-ms-input-placeholder, .datepicker__number::-ms-input-placeholder, .select__numbers-guest-dining::-ms-input-placeholder, .select__numbers-guest-dining-sm::-ms-input-placeholder, .select__numbers-guest-show::-ms-input-placeholder, .datepicker__number-show::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.select__numbers::placeholder, .datepicker__number::placeholder, .select__numbers-guest-dining::placeholder, .select__numbers-guest-dining-sm::placeholder, .select__numbers-guest-show::placeholder, .datepicker__number-show::placeholder {
  color: black;
  opacity: 1;
}

.select__numbers:focus, .datepicker__number:focus, .select__numbers-guest-dining:focus, .select__numbers-guest-dining-sm:focus, .select__numbers-guest-show:focus, .datepicker__number-show:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .datepicker-month-4, .datepicker-month-5, .datepicker-month-6, .datepicker-month-7 {
    text-align: center;
    font-size: 15px;
    width: 100%;
    padding-top: 11px;
    text-transform: uppercase;
    padding-bottom: 2px;
    border: none;
    font-weight: bold;
    cursor: default;
    color: transparent;
    text-shadow: 0 0 0 black;
    font-family: 'Lato', sans-serif;
  }
  .datepicker-month-4::-webkit-input-placeholder, .datepicker-month-5::-webkit-input-placeholder, .datepicker-month-6::-webkit-input-placeholder, .datepicker-month-7::-webkit-input-placeholder {
    color: black;
    opacity: 1;
  }
  .datepicker-month-4:-ms-input-placeholder, .datepicker-month-5:-ms-input-placeholder, .datepicker-month-6:-ms-input-placeholder, .datepicker-month-7:-ms-input-placeholder {
    color: black;
    opacity: 1;
  }
  .datepicker-month-4::-ms-input-placeholder, .datepicker-month-5::-ms-input-placeholder, .datepicker-month-6::-ms-input-placeholder, .datepicker-month-7::-ms-input-placeholder {
    color: black;
    opacity: 1;
  }
  .datepicker-month-4::placeholder, .datepicker-month-5::placeholder, .datepicker-month-6::placeholder, .datepicker-month-7::placeholder {
    color: black;
    opacity: 1;
  }
  .datepicker-month-4:focus, .datepicker-month-5:focus, .datepicker-month-6:focus, .datepicker-month-7:focus {
    outline: none;
  }
}

@media screen and (min-width: 768px) {
  .booking-formLg__title, .dining-formLg__title, .show-formLg__title {
    text-align: center;
    padding-top: 39px;
    padding-bottom: 10px;
    font-style: italic;
  }
}

@media screen and (min-width: 768px) {
  .datepicker__date {
    border: solid 1px black;
    height: 93px;
  }
}

@media screen and (min-width: 768px) {
  .datepicker__select, .select {
    border: solid 1px black;
    height: 93px;
  }
}

.select__numbers, .select__numbers-guest, .select__numbers-guest-sm, .datepicker__number, .select__numbers-guest-dining, .select__numbers-guest-dining-sm, .select__numbers-guest-show, .datepicker__number-show, .datepicker__number {
  text-align: center;
  padding-top: 19px;
  width: 100%;
  height: 100%;
}

.select__time, .select__time-dining {
  text-align: center;
  padding-top: 25px;
}

.datepicker__time-select-show, .datepicker__time-select-dining {
  padding-top: 29px;
  text-align: center;
}

.select__word, .select__word-show {
  text-align: center;
  padding-top: 28px;
}

.datepicker__word-select--dining, .datepicker__select-show {
  text-align: center;
  padding-top: 34px;
}

@media screen and (min-width: 768px) {
  .datepicker__word-select--dining, .datepicker__select-show {
    padding-top: 30px;
  }
}

.select__options, .selector, .datepicker__guest-options, .datepicker__guest-options-sm, .select__options-time, .selector__time-show, .datepicker__guest-options-dining, .selector__dining-guest, .datepicker__guest-options-show, .selector__tickets, .select__options-time-dining, .selector__li-time-dining, .selector__word, .select__options-word-show, .selector__show {
  display: none;
  list-style-type: none;
  border: solid 1px black;
  background-color: white;
  z-index: 5;
  margin-top: -10px;
  width: 120px;
  margin-left: -11px;
}

.selector__li, .selector__li-guest, .datepicker__guest-options-sm--single, .selector__li-time, .selector__time-show--single, .datepicker__guest-options-dining--single, .selector__dining-guest--single, .datepicker__guest-options-show--single, .selector__tickets--single, .select__options-time-dining--single, .selector__li-time-dining--single, .selector__li-word, .selector__li-show, .selector__li-show-sm--single {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  border-bottom: solid 1px black;
  padding: 6px;
  position: relative;
  z-index: 10;
  background-color: white;
}

.selector__li:hover, .selector--single:hover, .selector__li-guest:hover, .datepicker__guest-options-sm--single:hover, .selector__li-time:hover, .selector__time-show--single:hover, .datepicker__guest-options-dining--single:hover, .selector__dining-guest--single:hover, .datepicker__guest-options-show--single:hover, .selector__tickets--single:hover, .select__options-time-dining--single:hover, .selector__li-time-dining--single:hover, .selector__li-word:hover, .selector__li-word:hover, .selector__li-show:hover, .selector__show--single:hover {
  background-color: #eef1f9;
  cursor: pointer;
}

.selector__li--4, .selector--4, .selector__li-guest--4, .datepicker__guest-options-sm--4, .selector__li-time--4, .selector__time-show--4, .datepicker__guest-options-dining--4, .selector__dining-guest--4, .datepicker__guest-options-show--4, .selector__tickets--4, .select__options-time-dining--4, .selector__li-time-dining--4, .selector__li-word--4, .selector__word--4, .select__options-word-show--4, .selector__show--4 {
  border-bottom: none;
}

/* .selector__li--4-sm, .selector__li-guest--4-sm, .datepicker__guest-options-sm--4-sm, .selector__li-time--4-sm, .selector__time-show--4-sm, .datepicker__guest-options-dining--4-sm, .selector__dining-guest--4-sm, .datepicker__guest-options-show--4-sm, .selector__tickets--4-sm, .select__options-time-dining--4-sm, .selector__li-time-dining--4-sm, .selector__li-word--4-sm, .selector__word--4-sm, .select__options-word-show--4-sm, .selector__show--4-sm {
    border-bottom: none;
  } */

.select__options--active, .selector--active, .selector__li-guest--active, .datepicker__guest-options-sm--active, .selector__li-time--active, .selector__time-show--active, .datepicker__guest-options-dining--active, .selector__dining-guest--active, .datepicker__guest-options-show--active, .selector__tickets--active, .select__options-time-dining--active, .selector__li-time-dining--active, .select__options-word--active, .selector__word--active, .select__options-word-show--active, .selector__show--active {
  display: block !important;
}

.selector {
  z-index: 10;
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .selector {
    margin-left: -5px;
  }
}

.selector__li-word, .selector__li-show {
  font-size: 16px;
}

.selector__li-word--3, .selector__li-show--3 {
  border-bottom: none;
}

.selector__li-word {
  font-size: 16px;
}

/* Book Now */

.booking__book-now, .dining__book-now, .show__book-now {
  padding-top: 20px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .booking__book-now, .dining__book-now, .show__book-now {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 0;
    padding-top: 7px;
    margin-left: 3.5%;
  }
}

@media only screen and (min-width: 1110px) {
  .booking__book-now, .dining__book-now, .show__book-now {
    margin-left: 2.2%;
  }
}

.book-now__button {
  z-index: 1;
  font-size: 16px;
  color: white;
  width: 240px;
  height: 46px;
  background-color: #e32f2d;
  border: none;
  margin-top: 30px;
  margin-bottom: 20px;
  left: 50%;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
  position: relative;
  cursor: pointer;
  -webkit-transition: border-radius 1s;
  transition: border-radius 1s;
}

@media only screen and (min-width: 768px) {
  .book-now__button {
    font-size: 13px;
    color: white;
    width: 90px;
    height: 44px;
    background-color: #e32f2d;
    border: none;
    -webkit-transition: none;
    transition: none;
    border-radius: none;
  }
}

.book-now__button:hover {
  border-radius: 30px;
  background-color: #da1f1d;
}

@media only screen and (min-width: 768px) {
  .book-now__button:hover {
    border-radius: 0;
    background-color: #da1f1d;
  }
}

@media screen and (min-width: 768px) {
  .book-now__button:active {
    background-color: #e64544;
  }
}

.book-now__content {
  font-size: 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .book-now__content {
    font-size: 10px;
    text-align: center;
    left: 458px;
  }
}

/* AD */

.adLg__wrapper {
  scale: 1.2;
  background-image: url(../images/promo2.jpg);
  height: 221px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 0 auto;
  background-position: center;
}

.ad__wrapper {
  scale: 1.2;
  background-image: url(../images/promo2.jpg);
  height: 221px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 0 auto;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .ad {
    display: none;
  }
}

.adLg {
  width: 34%;
  padding-left: 30px;
  top: -80px;
  position: relative;
}

@media screen and (max-width: 1069px) {
  .adLg {
    display: none;
  }
}

.adLg__content, .ad__content {
  z-index: 2;
  text-align: center;
  margin: auto;
  position: relative;
  top: -135px;
  text-transform: uppercase;
}

.adLg__content-dark, .ad__content-dark {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .4;
}

.adLg__content--top, .ad__content--top {
  font-size: 25px;
}

.adLg__content--bottom, .ad__content--bottom {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .booking__containerLg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.booking-formLg, .show-formLg, .dining-formLg {
  display: none;
}

.active__containerLg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .active__button {
    color: black;
  }
}

/*# sourceMappingURL=booking.css.map */

.booking__app-wrap--booking, .booking__app-wrap--dining, .booking__app-wrap--show {
  display: none;
}

.active-app {
  display: block;
}

@media screen and (min-width: 768px) {
  .active-app {
    display: flex;
  }
}