.dining__title {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  position: relative;
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .dining__title {
    padding-left: 50%;
    -webkit-transform: translate(-25%);
            transform: translate(-25%);
  }
}

.dining__header-wrap {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .dining__header-wrap {
    display: none;
  }
}

.dining__header {
  position: relative;
  text-align: center;
  border: solid 1px #c6dde1;
  color: #e12f37;
  padding: 15px 70px;
  font-weight: 700;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .dining__header {
    display: none;
  }
}

.dining__image--title {
  padding-bottom: 8px;
}

.dining__wrapper {
  width: 100%;
  z-index: 3;
  /* top: -80px; */
  position: relative;
  margin: 0 auto;
  background-color: #fafafa;
  border-top: solid 1px #c6d3e1;
  border-bottom: solid 1px #d0e3e6;
  padding-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .dining__wrapper {
    border-top: none;
    padding-bottom: 0px;
    height: 550px;
    width: 90%;
    background-color: white;
    border-bottom: none;
  }
}

@media only screen and (min-width: 1124px) {
  .dining__wrapper {
    padding-bottom: 30px;
    height: 626px;
  }
}

.dining__tab-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  min-height: 45px;
}

@media only screen and (min-width: 768px) {
  .dining__tab-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40%;
    max-width: 381px;
    margin-left: 0px;
    border: solid 1px #c6d3e1;
    background-color: white;
  }
}

@media only screen and (min-width: 768px) and (min-width: 768px) {
  .dining__tab-wrap:before {
    position: absolute;
    content: '';
    height: 25px;
    width: 91px;
    opacity: .7;
    background: #53cdeb;
    left: -5.5%;
    z-index: -1;
    top: 216px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1124px) {
  .dining__tab-wrap:before {
    top: 0px;
  }
}

.dining__tabs {
  display: block;
  width: 33.33333%;
}

@media only screen and (min-width: 768px) {
  .dining__tabs {
    /* display: none; */
    display: block;
    width: 100%;
    border-bottom: solid 1px #d0e3e6;
  }
}

.dining__tabs--display-title {
    display: none;
}
@media only screen and (min-width: 768px) {
 .dining__tabs--display-title {
    display: block;
    }
}


.dining__link {
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.dining__link:hover {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .dining__link {
    text-align: left;
    height: 51px;
    font-size: 16px;
    color: #353938;
    line-height: 2.25;
    padding-left: 25px;
  }
}



.dining__link--center {
  border-left: 0.9px solid rgba(61, 58, 58, 0.3);
  border-right: 0.9px solid rgba(61, 58, 58, 0.3);
}

@media only screen and (min-width: 768px) {
  .dining__link--center {
    border-left: none;
    border-right: none;
  }
}

.dining__button--active {
  opacity: 1;
  border-bottom: solid 3px #53cdeb;
  background-color: #eef1f2;
}

@media only screen and (min-width: 768px) {
  .dining__button--active {
    border-bottom: none;
    border-left: solid 3px #53cdeb;
  }
}

.irvine__container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/irvine3.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/irvine3.jpg);
  height: 220px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: visible;
  z-index: 2;
}

.irvine__container:after {
  position: absolute;
  content: '';
  height: 38px;
  left: 0;
  width: 90%;
  z-index: 4;
  background: #4bc9e8;
  opacity: .4;
  top: 265px;
}

@media only screen and (min-width: 420px) {
  .irvine__container {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 600px) {
  .irvine__container {
    width: 85%;
  }
}

@media only screen and (min-width: 700px) {
  .irvine__container {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .irvine__container {
    height: 400px;
    width: 60%;
    left: 40%;
    bottom: 224px;
    position: relative;
    margin: 0;
  }
  .irvine__container:after {
    display: none;
  }
}

@media only screen and (min-width: 1124px) {
  .irvine__container {
    width: 50%;
    z-index: 2;
    top: -80px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

.cafe__container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/cafe3.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/cafe3.jpg);
  height: 220px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: visible;
  z-index: 2;
}

.cafe__container:after {
  position: absolute;
  content: '';
  height: 38px;
  left: 0;
  width: 90%;
  z-index: 4;
  background: #4bc9e8;
  opacity: .4;
  top: 265px;
}

@media only screen and (min-width: 420px) {
  .cafe__container {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 600px) {
  .cafe__container {
    width: 85%;
  }
}

@media only screen and (min-width: 700px) {
  .cafe__container {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .cafe__container {
    height: 400px;
    width: 60%;
    left: 40%;
    bottom: 224px;
    position: relative;
    margin: 0;
  }
  .cafe__container:after {
    display: none;
  }
}

@media only screen and (min-width: 1124px) {
  .cafe__container {
    width: 50%;
    z-index: 2;
    top: -80px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

.foodcourt__container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/rest4.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/rest4.jpg);
  height: 220px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: visible;
  z-index: 2;
}

.foodcourt__container:after {
  position: absolute;
  content: '';
  height: 38px;
  left: 0;
  width: 90%;
  z-index: 4;
  background: #4bc9e8;
  opacity: .4;
  top: 265px;
}

@media only screen and (min-width: 420px) {
  .foodcourt__container {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 600px) {
  .foodcourt__container {
    width: 85%;
  }
}

@media only screen and (min-width: 700px) {
  .foodcourt__container {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .foodcourt__container {
    height: 400px;
    width: 60%;
    position: relative;
    z-index: 2;
    left: 40%;
    bottom: 224px;
    margin: 0;
  }
  .foodcourt__container:after {
    display: none;
  }
}

@media only screen and (min-width: 1124px) {
  .foodcourt__container {
    height: 400px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    overflow: visible;
    z-index: 2;
    position: relative;
    top: -80px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

.irvine__image {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url(../images/irvinemeal1.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../images/irvinemeal1.jpg);
  width: 70%;
  height: 155px;
  position: relative;
  bottom: -130px;
  right: -30%;
  opacity: .9;
  z-index: 3;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  background-position: center;
}

@media only screen and (min-width: 420px) {
  .irvine__image {
    right: -32%;
  }
}

@media only screen and (min-width: 600px) {
  .irvine__image {
    right: -44%;
    width: 60%;
  }
}

@media only screen and (min-width: 600px) {
  .irvine__image {
    right: -53%;
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .irvine__image {
    width: 70%;
    height: 215px;
    bottom: -273px;
    right: 50%;
    opacity: 1;
    z-index: 3;
  }
}

@media only screen and (min-width: 1124px) {
  .irvine__image {
    width: 60%;
    height: 215px;
    bottom: 146px;
    right: -90.05%;
  }
}

.cafe__image {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url(../images/cafemeal.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../images/cafemeal.jpg);
  width: 70%;
  height: 155px;
  position: relative;
  bottom: -130px;
  right: -30%;
  opacity: .9;
  z-index: 3;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  background-position: center;
}

@media only screen and (min-width: 420px) {
  .cafe__image {
    right: -32%;
  }
}

@media only screen and (min-width: 600px) {
  .cafe__image {
    right: -44%;
    width: 60%;
  }
}

@media only screen and (min-width: 600px) {
  .cafe__image {
    right: -53%;
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .cafe__image {
    width: 70%;
    height: 215px;
    bottom: -273px;
    right: 50%;
    opacity: 1;
    z-index: 3;
  }
}

@media only screen and (min-width: 1124px) {
  .cafe__image {
    width: 60%;
    height: 215px;
    bottom: 146px;
    right: -90.05%;
  }
}

.foodcourt__image {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url(../images/southbeachfood.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../images/southbeachfood.jpg);
  width: 70%;
  height: 155px;
  position: relative;
  bottom: -130px;
  right: -30%;
  opacity: .9;
  z-index: 3;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  background-position: center;
}

@media only screen and (min-width: 420px) {
  .foodcourt__image {
    right: -32%;
  }
}

@media only screen and (min-width: 600px) {
  .foodcourt__image {
    right: -44%;
    width: 60%;
  }
}

@media only screen and (min-width: 600px) {
  .foodcourt__image {
    right: -53%;
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .foodcourt__image {
    width: 70%;
    height: 215px;
    bottom: -273px;
    right: 50%;
    opacity: 1;
    z-index: 3;
  }
}

@media only screen and (min-width: 1124px) {
  .foodcourt__image {
    width: 60%;
    height: 215px;
    bottom: 146px;
    right: -90.05%;
  }
}

.irvine__description-wrap, .cafe__description-wrap, .foodcourt__description-wrap {
  padding-top: 90px;
  width: 90%;
  margin: auto;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .irvine__description-wrap, .cafe__description-wrap, .foodcourt__description-wrap {
    display: none;
  }
}
.irvine__description-wrap-lg, .cafe__description-wrap-lg, .foodcourt__description-wrap-lg {

  display: none;
}

@media only screen and (min-width: 768px) {
  .irvine__description-wrap-lg, .cafe__description-wrap-lg, .foodcourt__description-wrap-lg {
    display: block;
    padding-top: 0px;
  }
}

.irvine__description, .cafe__description, .foodcourt__description {
  text-align: left;
  font-family: 'Lato', sans-serif;
}

@media only screen and (min-width: 768px) {
  .irvine__description, .cafe__description, .foodcourt__description {
    color: white;
    padding-bottom: 40px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -41px;
  }
}

@media only screen and (min-width: 768px) {
  .irvine__description, .cafe__description, .foodcourt__description {
    text-align: left;
    padding-bottom: 25px;
    width: 70%;
    letter-spacing: 1.2px;
    margin: 0;
  }
}

.irvine__button, .cafe__button, .foodcourt__button {
  margin-top: 20px;
  margin: auto;
  text-align: center;
  overflow: auto;
  font-weight: bold;
}

.irvine__button:focus, .cafe__button:focus, .foodcourt__button:focus {
  outline: 0;
}

.irvine__button:active, .cafe__button:active, .foodcourt__button:active {
  opacity: .7;
}

.irvine__button:hover, .cafe__button:hover, .foodcourt__button:hover {
  cursor: pointer;
}

.irvine__button--reserve, .cafe__button--reserve, .foodcourt__button--reserve {
    color: white;
    background-color: #e12f37;
    border: none;
    padding: 12px 32px;
  }
  
   .irvine__button--reserve:hover, .cafe__button--reserve:hover, .foodcourt__button--reserve:hover {
    background-color: #d71f27;
  }
  
   .irvine__button--reserve:active, .cafe__button--reserve:active, .foodcourt__button--reserve:active {
    background-color: #e4454c;
  }
  
  @media only screen and (min-width: 768px) {
    .irvine__button--reserve, .cafe__button--reserve, .foodcourt__button--reserve {
      background-color: rgba(0, 0, 0, 0);
      border: solid 1px white;
      display: inline-block;
    }
  }

.irvine__button--view, .cafe__button--view, .foodcourt__button--view {
  background-color: white;
  color: #e12f37;
  border: none;
  text-align: left;
  padding: 12px 10px;
  margin-left: 2px;
}

.irvine__button--view:hover, .cafe__button--view:hover, .foodcourt__button--view:hover {
  color: #c11c23;
}

.irvine__button--view:active, .cafe__button--view:active, .foodcourt__button--view:active {
  color: #e4454c;
}

@media only screen and (min-width: 768px) {
.irvine__button--view, .cafe__button--view, .foodcourt__button--view {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .irvine__button--view-lg, .cafe__button--view-lg, .foodcourt__button--view-lg {
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px white;
    display: inline-block;
    color: white;
    margin-left: 10px;
  }
  .irvine__button--view-lg:hover, .cafe__button--view-lg:hover, .foodcourt__button--view-lg:hover {
    background-color: #d71f27;
    color: white;
  }
  .irvine__button--view-lg:active, .cafe__button--view-lg:active, .foodcourt__button--view-lg:active {
    background-color: #e4454c;
    color: white;
  }
}

.irvine__button-wrap, .cafe__button-wrap, .foodcourt__button-wrap  {
  padding-top: 15px;
  display: block;
  padding-bottom: 20px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .dining__button--container {
    text-align: right;
  }
}

@media only screen and (min-width: 1124px) {
  .dining__button--container {
    text-align: left;
  }
}

.irvine {
  display: none;
}

.cafe {
  display: none;
}

.foodcourt {
  display: none;
}

.dining__container--active {
  display: block;
}

.cafe__logo {
  font-family: 'Monoton', cursive;
  color: white;
  font-size: 40px;
  position: absolute;
  padding: 20px 0 0 20px;
}

.irvine__logo {
  font-family: 'Bungee Inline', cursive;
  color: white;
  font-size: 30px;
  position: absolute;
  padding: 20px 0 0 20px;
}

.foodCourt__logo {
  color: white;
  font-size: 30px;
  font-family: 'Sail', cursive;
  position: absolute;
  padding: 20px 0 0 20px;
}

.dining__link--top {
  position: relative;
  text-align: left;
  color: #e12f37;
  font-weight: 700;
  font-size: 14px;
  height: 67px;
  padding-left: 25px;
  font-size: 20px;
  line-height: 3.4;
  z-index: 3;
}

@media only screen and (min-width: 1124px) {
  .dining__link--top:after {
    position: absolute;
    content: '';
    height: 25px;
    width: 167%;
    opacity: .7;
    background: #53cdeb;
    left: 100%;
    z-index: 4;
    top: -1px;
  }
}

.dining__link--top:hover {
  background-color: white;
  cursor: default;
}

@media only screen and (max-width: 767px) {
  .dining__link--top {
    display: none;
  }
}
/*# sourceMappingURL=dining.css.map */