




 
 
  
  .entertain__title--center {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
    letter-spacing: 1.2px;
    font-weight: 500;
    position: relative;
    top: 2.5px;
  }



  
  .entertain__title:before {
    position: absolute;
    content: '';
    height: 16px;
    left: 0;
    width: 70px;
    z-index: 4;
    background: #4ccded;
    opacity: .6;
    top: -41px;
  }
  
  @media only screen and (min-width: 768px) {
    .entertain__title:before {
      display: none;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .swiper-container {
      display: none;
    }
  }
  
  .swiper-slide__image1 {
    background-image: url(../images/entertainment1.jpg);
    background-repeat: no-repeat;
    position: relative;
    padding-top: calc(9 / 16 * 100%);
    width: 100%;
    background-size: contain;
  }
  
  .swiper-slide__image2 {
    background-image: url(../images/entertainment2.jpg);
    background-repeat: no-repeat;
    position: relative;
    padding-top: calc(9 / 16 * 100%);
    width: 100%;
    background-size: contain;
  }
  
  .swiper-slide__image3 {
    background-image: url(../images/entertainment3.jpg);
    background-repeat: no-repeat;
    position: relative;
    padding-top: calc(9 / 16 * 100%);
    width: 100%;
    background-size: contain;
  }
  
  .swiper-slide__date {
    display: inline-block;
    background-color: #e12f37;
    color: white;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    top: -20px;
  }
    
  .swiper__artist {
    font-size: 22px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 2.5px;
    font-family: 'Lato', sans-serif;
  }
  
  .swiper__artist:after {
    position: absolute;
    content: '';
    height: 1px;
    top: 54px;
    left: 0;
    right: 0;
    width: 33px;
    background: #53cdeb;
  }
  
  .swiper__artist-wrap {
    width: 90%;
    position: relative;
    margin: 0 auto;
  }
  
  .swiper__content {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .3px;
  }
  
  .swiper__content-head {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 8px;
    padding-top: 5px;
  }
  
  .swiper__link {
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .swiper__link a {
    text-decoration: none;
    color: #787a7a;
    font-weight: 600;
  }
  
  .swiper__link a:hover {
    cursor: pointer;
    color: #e75c62;
  }
  
  .swiper__link a:active {
    color: #d71f27;
  }
  
  .swiper-pagination-bullet-active {
    background: black;
    opacity: 1 !important;
  }
  
  .swiper-pagination-bullet {
    opacity: .3;
  }
  
  .swiper-pagination span {
    padding: 5px;
    margin: 8px;
    text-align: center;
  }
  
  .swiper-pagination {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    padding-top: 10px;
  }
  
  @media only screen and (min-width: 768px) {
    .swiper-pagination {
      display: none;
    }
  }
  
  .entertainment__sched-wrap {
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #d0e3e6;
  }
  @media only screen and (min-width: 768px) {
    .entertainment__sched-wrap {
      border-bottom: none;
    }
  }
  
  .entertainment__sched-wrap:after {
    position: absolute;
    content: '';
    height: 30px;
    right: 0;
    width: 71px;
    opacity: .7;
    background: #53cdeb;
  }
  
  @media only screen and (min-width: 768px) {
    .entertainment__sched-wrap:after {
      display: none;
    }
  }
  
  .entertainment__sched-wrap:before {
    content: '';
    background-image: url(../images/entertainDesignTall.png);
    background-repeat: no-repeat;
    width: 36px;
    height: 90px;
    position: absolute;
    right: 0;
  }
  
  @media only screen and (min-width: 768px) {
    .entertainment__sched-wrap:before {
      display: none;
    }
  }
  
  .entertainment__sched {
    margin-top: 60px;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
  }

  @media only screen and (min-width: 1344px) {
    .entertainment__sched {
      margin-top: 100px;
    }
  }

  
  .entertainment__sched a {
    text-decoration: none;
    color: #e12f37;
  }
  
  .entertainment__sched a:hover {
    cursor: pointer;
    color: #e75c62;
  }
  
  .entertainment__sched a:active {
    color: #d71f27;
  }
  
  @media only screen and (min-width: 768px) {
    .entertainDesign__wide {
      display: none;
    }
  }
  
  .entertainment {
    display: none;
  }
  
  @media only screen and (min-width: 768px) {
    .entertainment {
      display: block;
    }
  }
  
  .entertainment__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 90%;
    max-width: 1365px;
  }
  
  .entertainment__wrapper:before {
    position: absolute;
    content: '';
    height: 30px;
    width: 161px;
    opacity: .7;
    background: #53cdeb;
    right: 0;
    margin-top: 491px;
    z-index: 4;
  }
  
  .entertainment__wrapper:after {
    background-image: url(../images/entertain_big_design.jpg);
    position: absolute;
    content: '';
    height: 470px;
    width: 70px;
    z-index: -1;
    right: 0;
    margin-top: 50px;
  }
  
  .entertainment__image--left {
    background-image: url(../images/entertainment1.jpg);
    background-repeat: no-repeat;
    position: relative;
    padding-top: calc(9 / 16 * 100%);
    background-size: contain;
    -webkit-box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    position: relative;
  }
  
  .entertainment__image--center {
    background-image: url(../images/entertainment2.jpg);
    background-repeat: no-repeat;
    position: relative;
    padding-top: calc(9 / 16 * 100%);
    background-size: contain;
    -webkit-box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    position: relative;
  }
    
  .entertainment__image--right {
    background-image: url(../images/entertainment3.jpg);
    background-repeat: no-repeat;
    position: relative;
    padding-top: calc(9 / 16 * 100%);
    background-size: contain;
    -webkit-box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    position: relative;
  }
  
  .entertainment__date {
    display: inline-block;
    background-color: #e12f37;
    color: white;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    top: -19px;
    position: relative;
  }
  
  .entertainment__image-wrap {
    width: 32%;
    height: 500px;
    margin: 0 auto;
  }
  
  .entertainment__artist {
    font-size: 16px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
    font-family: 'Lato', sans-serif;
  }
  
  .entertainment__artist:after {
    position: absolute;
    content: '';
    height: 1px;
    top: 54px;
    left: 0;
    right: 0;
    width: 33px;
    background: #53cdeb;
  }
  
  .entertainment__artist-wrap {
    width: 90%;
    position: relative;
    margin: 0 auto;
    height: 284px;
  }
  
  @media only screen and (min-width: 849px) {
    .entertainment__artist-wrap {
      height: 267px;
    }
  }
  
  @media only screen and (min-width: 975px) {
    .entertainment__artist-wrap {
      height: 255px;
    }
  }
  
  @media only screen and (min-width: 1124px) {
    .entertainment__artist-wrap {
      height: 242px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .entertainment__artist-wrap {
      height: 228px;
    }
  }
  
  .entertainment__artist-description {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .3px;
  }
  
  .entertainment__special-event {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 8px;
    padding-top: 5px;
  }
  
  .entertainment__link {
    font-size: 15px;
    padding-top: 20px;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 10px;
  }
  
  .entertainment__link a {
    text-decoration: none;
    color: #787a7a;
    font-weight: 600;
  }
  
  .entertainment__link a:hover {
    cursor: pointer;
    color: #e75c62;
  }
  
  .entertainment__link a:active {
    color: #d71f27;
  }
  
  .entertain__side-design {
    display: none;
  }
  
  @media only screen and (min-width: 768px) {
    .entertain__side-design {
      display: block;
      background-image: url(../images/entertain_big_design.jpg);
      height: 260px;
      width: 110px;
      position: absolute;
      left: 0;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .entertain__side-design:before {
      position: absolute;
      content: '';
      height: 11px;
      left: 0;
      width: 190px;
      z-index: 4;
      background: #4ccded;
      opacity: .6;
      top: 14px;
    }
  }