.experience-container-all {
    @media only screen and (min-width: 768px) {
        display: none;
    }
    &-lg {
        display: none;
        @media only screen and (min-width: 768px) {
            display: block;
            overflow: auto;
        }   
    }
}


.experience__title {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    position: relative;
}

.experience__container {
    width: 100%;
    border-bottom: solid 4px rgb(222, 31, 38);
    @media only screen and (min-width: 768px) {
        width: 90%;
        margin: 0 auto;
        border-bottom: none;
        overflow: hidden;
        height: 550px;
    }   
    @media only screen and (min-width: 995px) {
        height: 600px;
    }
}

.experience__image {
    width: 100%;
    background-image: url("../images/suite2.jpg");
    height: 220px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    overflow: visible;
    @media only screen and (min-width: 768px) {
        width: 90%;
        float: right;
        height: 100%;
    }   
    &--container {
        width: 100%;
        height:220px;
        &:after {
            position: absolute;
            content: '';
            height: 40px;
            right: 0;
            width: 100%;
            z-index: -1;
            background: #53cdeb;
            @media only screen and (min-width: 768px) {
                left: 0;
                width: 80%;
                z-index: 2;
                margin-top: 110px;
                opacity: .7;
            }
        }
        @media only screen and (min-width: 768px) {
            overflow: auto;
            height: 400px;
        }   
    }    
}

.experience__wrapper {
    width: 90%;
    // height: 300px;
    position: relative;
    bottom: 68px;
    margin: 0 auto;
    // background-color: tomato;
    z-index: 3;
    @media only screen and (min-width: 768px) {
        margin: 0;
        width: 100%;
    }
}

.experience__rooms {
    background-color: white;
    border: solid 1.5px rgb(208, 227, 230);
    // height: 180px;
    width: 100%;
    @media only screen and (min-width: 768px) {
        position: relative;
        top: -290px;
        width: 280px;
    }   
    &--wrapper {
        width: 85%;
        height: 100%;
        margin: 0 auto;
    }

    &--title {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bolder;
        padding: 16px 0px;
        // font-family: 'Open Sans', sans-serif;
        // font-weight: ;
    
    }
    &--content {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        // padding-bottom: 23px;
        word-spacing: 1px;
        letter-spacing: .5px;
        // font-family: 'Open Sans', sans-serif;
        // font-family: 'Open Sans', sans-serif;
        line-height: 23px;
    }
    &--link {
        text-transform: uppercase;
        padding: 16px 0px;
        & a {
            text-decoration: none;
            color: red;
            font-weight: 600;
            &:hover {
                cursor: pointer;
                color: lighten(rgb(225,47,55), 10%);
            }
            &:active {
                color: darken(rgb(225,47,55), 5%);
            }
        }
    }

}


.pool {
    &__wrapper {
        margin-top: 20px;
        width: 100%;
        @media only screen and (min-width: 768px) {
            margin-top: 0;
            }
        &:hover {
            opacity: .9;
            @media only screen and (min-width: 768px) {
                opacity: 1;
            }
        }
        &:active {
            opacity: 1;
            }
        & a {
            text-decoration: none;
        }
    }

    &__image {
        height: 200px;
        width: 100%;
        @media only screen and (min-width: 360px) {
            height: 225px;
        }
        @media only screen and (min-width: 430px) {
        height: 275px;
        }
        @media only screen and (min-width: 500px) {
            height: 300px;
            }
        @media only screen and (min-width: 550px) {
            height: 325px;
            }
        @media only screen and (min-width: 630px) {
            height: 350px;
            }
        @media only screen and (min-width: 700px) {
            height: 375px;
            }
        @media only screen and (min-width: 768px) {
            height: 140px;
            }
        @media only screen and (min-width: 855px) {
            height: 150px;
            }
        @media only screen and (min-width: 990px) {
            height: 170px;
            }
        @media only screen and (min-width: 1070px) {
            height: 190px;
            }
    }

    &__content {
        background-color: darken(rgb(51, 55, 56), 5%);
        text-transform: uppercase;
        color: white;
        height: 40px;
        padding-top: 9px;
        padding-left: 20px;
        font-weight: 500;
        font-family: 'Lato', sans-serif;
        &--wrapper {
            position: relative;
            display: block;
            width: 100%;
            top: -32px;
        }
    }
}


.casino {
    &__wrapper {
        width: 100%;
        &:hover {
            opacity: .9;
            @media only screen and (min-width: 768px) {
                opacity: 1;
            }
        }
        &:active {
            opacity: 1;
            }
        & a {
            text-decoration: none;
        }
    }

    &__image {
        height: 200px;
        width: 100%;
        @media only screen and (min-width: 360px) {
            height: 225px;
        }
        @media only screen and (min-width: 430px) {
            height: 275px;
        }
        @media only screen and (min-width: 500px) {
            height: 300px;
            }
        @media only screen and (min-width: 550px) {
            height: 325px;
            }
        @media only screen and (min-width: 630px) {
            height: 350px;
            }
        @media only screen and (min-width: 700px) {
            height: 375px;
            }
        @media only screen and (min-width: 768px) {
            height: 140px;
            }
        @media only screen and (min-width: 855px) {
            height: 150px;
            }
        @media only screen and (min-width: 990px) {
            height: 170px;
            }
        @media only screen and (min-width: 1070px) {
            height: 190px;
            }
    }

    &__content {
        background-color: darken(rgb(51, 55, 56), 5%);
        text-transform: uppercase;
        color: white;
        height: 40px;
        padding-top: 9px;
        padding-left: 20px;
        font-weight: 500;
        font-family: 'Lato', sans-serif;
        
        &--wrapper {
            position: relative;
            display: block;
            width: 100%;
            top: -32px;
        }
    }
}


.spa {
    &__wrapper {
        width: 100%;
        margin-bottom: -30px;
        &:hover {
            opacity: .9;
            @media only screen and (min-width: 768px) {
                opacity: 1;
            }
        }
        &:active {
            opacity: 1;
            }
        & a {
            text-decoration: none;
        }
        
    }

    &__image {
        height: 200px;
        width: 100%;
        @media only screen and (min-width: 360px) {
            height: 225px;
        }
        @media only screen and (min-width: 430px) {
            height: 275px;
        }
        @media only screen and (min-width: 500px) {
            height: 300px;
            }
        @media only screen and (min-width: 550px) {
            height: 325px;
            }
        @media only screen and (min-width: 630px) {
            height: 350px;
            }
        @media only screen and (min-width: 700px) {
            height: 375px;
            }
        @media only screen and (min-width: 768px) {
            height: 140px;
            }
        @media only screen and (min-width: 855px) {
            height: 150px;
            }
        @media only screen and (min-width: 990px) {
            height: 170px;
            }
        @media only screen and (min-width: 1070px) {
            height: 190px;
            }
    }

    &__content {
        background-color: darken(rgb(51, 55, 56), 5%);
        text-transform: uppercase;
        color: white;
        height: 40px;
        padding-top: 9px;
        padding-left: 20px;
        font-weight: 500;
        font-family: 'Lato', sans-serif;
        
        &--wrapper {
            position: relative;
            display: block;
            width: 100%;
            top: -32px;
        }
    }
}

.experience-flex {
    &-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    float: right;
    position: relative;
    top: -160px;
    margin-right: 10px;
    @media only screen and (min-width: 897px) {
        top: -160px
        }
    }
    &-item {
        margin-left: 30px;
    }
}