nav {
  height: 65px;
  color: black;
  width: 100%;
  position: fixed;
  max-width: 1365px;
}

.navbar {
  z-index: 20;
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: none;
  }
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 10;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style-type: none;
  background-color: #e12f37;
}

.navbar__item {
  height: 65px;
  text-align: center;
}

.navbar__item-1 {
  width: 21%;
}

.navbar__item-2 {
  width: 53%;
  border-left: solid #e7595f 1px;
  border-right: solid #e7595f 1px;
}

.navbar__item-3 {
  width: 24%;
  color: white;
  text-transform: uppercase;
}

.book_now {
  color: white;
  font-size: 11px;
  display: block;
  padding-left: 8px;
  padding-top: 25px;
}

.book_now a {
  text-decoration: none;
  color: white;
}

.book_now a:hover {
  opacity: .8;
}

.book_now a:active {
  opacity: 1;
}

.troplogo {
  height: 50px;
  top: 7px;
  position: relative;
}

.dropdown {
  position: absolute;
  background-color: white;
  width: 100%;
  margin-top: 2.7px;
  transition: 0.5s transform, 0.5s -webkit-transform;
  top: -338px;
  z-index: -1;
}

.dropdown__item {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 12px;
  text-decoration: none;
  padding-top: 9px;
  padding-bottom: 9px;
}

.dropdown__item-1 {
  border-bottom: .5px #d0d3d6 solid;
  text-decoration: none;
  color: black;
  text-align: left;
  padding-left: 16px;
}

.dropdown__item-1:hover {
  color: #9da29e;
}

.dropdown__item-1:active {
  color: #454845;
}

.dropdown__item-2 {
  background-color: #35393a;
  border-bottom: .5px #d0d3d6 solid;
  color: white;
}

.dropdown__item-2:hover {
  opacity: .8;
}

.dropdown__item-2:active {
  opacity: 1;
}

.marqueeLogo {
  height: 46px;
}

.marqueeLogo__wrapper {
  padding: 0;
  margin: 0;
}

.toggle-active {
  -webkit-transform: translatey(400px);
          transform: translatey(400px);
}

@media only screen and (max-width: 767px) {
  #navbarLg {
    display: none;
  }
}

.navbarLg {
  position: fixed;
  z-index: 10;
}

@media only screen and (max-width: 768) {
  .navbarLg {
    display: block;
  }
}

@media only screen and (min-width: 768) {
  .navbarLg {
    display: none;
  }
}

.navbarLg__links {
  background-color: #35393a;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 10;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style-type: none;
}

.navbarLg__item {
  font-size: 9.5px;
  border-right: solid 1px #62696a;
  color: white;
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.navbarLg__item-1 {
  width: 30%;
}

@media only screen and (min-width: 768) {
  .navbarLg__item-1 {
    width: 35%;
  }
}

.navbarLg__item-play {
  width: 15%;
  padding-top: 18px;
}

.navbarLg__item-play a {
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
}

.navbarLg__item-play a:hover {
  opacity: .7;
}

.navbarLg__item-play a:active {
  opacity: 1;
}

.navbarLg__item-3 {
  width: 20%;
  padding-top: 18px;
}

.navbarLg__item-3 a {
  text-decoration: none;
  color: white;
}

.navbarLg__item-3 a:hover {
  opacity: .7;
}

.navbarLg__item-3 a:active {
  opacity: 1;
}

.navbarLg__item-4 {
  width: 9%;
  width: 14%;
}

.navbarLg__item-4 a {
  text-decoration: none;
  color: white;
}

.navbarLg__item-4 a:hover {
  opacity: .7;
}

.navbarLg__item-4 a:active {
  opacity: 1;
}

.navbarLg__item-5 {
  width: 7%;
  color: #53cdeb;
  padding-top: 18px;
}

.navbarLg__item-5 a {
  text-decoration: none;
  color: #53cdeb;
}

.navbarLg__item-5 a:hover {
  opacity: .7;
}

.navbarLg__item-5 a:active {
  opacity: 1;
}

.navbarLg__item-6 {
  width: 7%;
  color: #53cdeb;
  padding-top: 18px;
}

.navbarLg__item-6 a {
  text-decoration: none;
  color: #53cdeb;
}

.navbarLg__item-6 a:hover {
  opacity: .7;
}

.navbarLg__item-6 a:active {
  opacity: 1;
}

.navbarLg__item-7 {
  width: 7%;
  border-right: none;
}

.navbarLg__links-2 {
  background-color: white;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 10;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style-type: none;
  font-size: 12px;
  text-align: center;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.navbarLg__logo {
  width: 160px;
  background-color: #e12f37;
  padding: 20px 5px 20px 5px;
}

.navbarLg__logo:hover {
  background-color: #e4454c;
}

.navbarLg__logo:active {
  background-color: #d71f27;
}

.navbarLg__item-2 {
  font-size: 12px;
  text-align: center;
  color: black;
}

.navbarLg__item-2 a {
  color: black;
}

.navbarLg__item-2-1 {
  width: 25%;
  padding-top: 0;
}

.navbarLg__item-2-1 a {
  text-decoration: none;
  color: black;
}

.navbarLg__item-2-1 a:link {
  color: black;
}

.navbarLg__item-2-2 {
  width: 8.5%;
  padding-top: 38px;
}

.navbarLg__item-2-2 a {
  text-decoration: none;
  color: black;
}

.navbarLg__item-2-2 a:link {
  color: black;
}

.navbarLg__item-2-2 a:hover {
  opacity: .7;
}

.navbarLg__item-2-2 a:active {
  opacity: 1;
}

.navbarLg__item-2-3 {
  width: 8.5%;
  padding-top: 38px;
}

.navbarLg__item-2-3 a {
  text-decoration: none;
  color: black;
}

.navbarLg__item-2-3 a:link {
  color: black;
}

.navbarLg__item-2-3 a:hover {
  opacity: .7;
}

.navbarLg__item-2-3 a:active {
  opacity: 1;
}

.navbarLg__item-2-4 {
  width: 8.5%;
  padding-top: 38px;
}

.navbarLg__item-2-4 a {
  text-decoration: none;
  color: black;
}

.navbarLg__item-2-4 a:link {
  color: black;
}

.navbarLg__item-2-4 a:hover {
  opacity: .7;
}

.navbarLg__item-2-4 a:active {
  opacity: 1;
}

.navbarLg__item-2-5 {
  width: 8.5%;
  padding-top: 38px;
}

.navbarLg__item-2-5 a {
  text-decoration: none;
  color: black;
}

.navbarLg__item-2-5 a:link {
  color: black;
}

.navbarLg__item-2-5 a:hover {
  opacity: .7;
}

.navbarLg__item-2-5 a:active {
  opacity: 1;
}

.navbarLg__item-2-6 {
  width: 8.5%;
  padding-top: 38px;
}

.navbarLg__item-2-6 a {
  text-decoration: none;
  color: black;
}

.navbarLg__item-2-6 a:link {
  color: black;
}

.navbarLg__item-2-6 a:hover {
  opacity: .7;
}

.navbarLg__item-2-6 a:active {
  opacity: 1;
}

.navbarLg__item-2-7 {
  width: 10%;
  padding-top: 38px;
}

.navbarLg__item-2-7 a {
  text-decoration: none;
  color: black;
}

.navbarLg__item-2-7 a:link {
  color: black;
}

.navbarLg__item-2-7 a:hover {
  opacity: .7;
}

.navbarLg__item-2-7 a:active {
  opacity: 1;
}

.navbarLg__item-2-8 {
  width: 8.5%;
  padding-top: 38px;
}

.navbarLg__item-2-8 a {
  text-decoration: none;
  color: black;
}

.navbarLg__item-2-8 a:link {
  color: black;
}

.navbarLg__item-2-8 a:hover {
  opacity: .7;
}

.navbarLg__item-2-8 a:active {
  opacity: 1;
}

.navbarLg__item-2-9 {
  color: #e12f37;
  width: 12%;
  padding-top: 38px;
  border-left: solid 1px #c6dde1;
  border-right: solid 1px #c6dde1;
  font-weight: bold;
}

.navbarLg__item-2-9 a {
  text-decoration: none;
  color: #e12f37;
}

.navbarLg__item-2-9 a:link {
  color: #e12f37;
}

.navbarLg__item-2-9 a:hover {
  opacity: .7;
}

.navbarLg__item-2-9 a:active {
  opacity: 1;
}

.navbarLg__item-2-10 {
  width: 2%;
}

.navbarLg__item-2-10 a {
  text-decoration: none;
  color: black;
}

.navbarLg__item-2-10 a:link {
  color: black;
}
/*# sourceMappingURL=navbar.css.map */