html {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 1365px;
    margin: 0 auto;
    
  }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    @media only screen and (min-width: 768px) {
    
    }
}


*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.site-container {
    padding-top: 65px;
    @media only screen and (min-width: 768px) {
        padding-top: 140px; 
      }
}



.button {
    background: none;
    border: none;
    opacity: .7;
    border-bottom: 0.9px solid rgba(61, 58, 58, 0.3);
    @media all and (min-width: 768px){
    border-bottom: none;
    } 
    &:active {
        border-color: none;
        border-style: outset;
        outline: none;
        border: none;
    }
    &:focus {
        outline: 0;
    }
}






.bridge {
    background-image: url("../images/pool-bridge.jpg");
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-top: -40px;
    @media only screen and (min-width: 768px) {
        background-image: url(../images/pool-bridge.jpg);
        height: 200px;
        width: 350px;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        margin: 0 auto;
        margin-top: -60px;
        // display: none;
        
    }
    &-wrapper {
        width: 100%;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &__content {
        &--1 {
            font-size: 16px;
            text-transform: uppercase;
            @media screen and (min-width: 500px) {
                font-size: 21px;
            }
            
            
        }
        &--2 {
            font-size: 13px;
            text-transform: uppercase;
            padding-top: 5px;
            @media screen and (min-width: 500px) {
                font-size: 16px;
            }
            
        }
        &--wrapper {
            text-align: center;
            padding-top: 84px;    
        }
    }
}



.body {
    @media screen and (min-width: 768px) {
    width: 100%;
    margin: 0 auto;
    margin-top: -20px;
    }
    @media screen and (min-height: 768px) {
        margin-top: -60px;
    }
    @media screen and (min-height: 865px) {
        margin-top: -80px;
    }
}


// in conjunction with JS, allows users to scroll through using TAB but turns off blue outline if user decides to use pointer.
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}